@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Open+Sans&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
/* position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);*/
body{
    margin: 0;
    font-size: 25px;
    padding: 0;
    font-family: Nunito;
    background-color: #265d89;
    overflow: hidden;
}

head, nav{
    width: 100%;
    background-color: black;
}

nav .terminal{
    margin-top: 3px;
    margin-left: 10px;
    width: 5%;
}


form{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(2, 30vh) 5vh 20vh;
    margin-left: auto;
    margin-right: auto;
    column-gap: 20px;
}

label{
    color:#F6D55C;
    font-weight: bold;
    grid-row: 2;
}

.answer{
    width: 100%;
    font-size: 20px;
    background-color: white;
    color: #205f59;
    font-family: Nunito;
    border-radius: 20px;
    outline: none;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    overflow: hidden;
    resize: none;
}

.output{
    width: 100%;
    font-size: 20px;
    background-color: white;
    color: #205f59;
    font-family: Nunito;
    border: solid 1px #e37771;
    border-radius: 20px;
    outline: none;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    scrollbar-color: var(--scrollbarBG) var(--thumbBG);
}




 button {
    background-color: #205f59;
    border: solid 5px #205f59;
    border-radius: 100px;
    font-weight: bold;
    font-size: 25px;
    grid-row: 2;
 }

 form{
    padding: 10px;
 }

 .windows{
    width: 3%;
    margin-top: 5px;
    margin-left: 15px;
 }
